<h3 class="comments_title">
  <%= @post.comments.count %> Comments
</h3>
 
<div id="comments">
  <%= render :partial => @post.comments %>
</div>
<%= simple_form_for [@post, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>